* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}

html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	background: rgb(7, 14, 1);
}
/* 1rem = 10px */

.Main {
	display: block;
}

.header {
	background-image: url('./images/backImage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	height: 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.Tittle {
	font-family: 'Rubik Burned', cursive;
	font-size: 10rem;
	filter: drop-shadow(2px 2px 2px rgb(6, 243, 45));
}

.Search-main {
	width: 100%;
	height: 50px;
	max-width: 40rem;
	position: relative;
	overflow: hidden;
}

.Search {
	width: 80%;
	height: 100%;
	background: rgba(3, 77, 27, 0.644);
	color: rgb(0, 0, 0);
	padding-top: 2rem;
	border: none;
	outline: 0px;
	font-size: 4rem;
}

.Btn-Search {
	font-size: 4rem;
	background: rgba(3, 77, 27, 0.644);
	outline: 0px;
	text-decoration: none;
	border: none;
	color: chartreuse;
}
.Info-Dim {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: chartreuse;
	border-radius: 0.7rem;
	margin: 0.5rem;
	left: 25%;
	padding: 15px;
	text-align: center;
	box-shadow: 2px 2px 2px rgba(0, 255, 0, 0.671);
}

h3 {
	text-shadow: 2px 2px 2px rgb(13, 53, 13);
}

.List-Characters {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.Characters {
	display: inline-block;
	background: green;
	border: 3px solid green;
	margin: 1rem;
	border-radius: 7px;
	box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.671);
}

.Status {
	position: absolute;
	background: green;
	padding: 0 5px;
	border-radius: 0px 0px 10px 0px;
}

.Img-Perfil {
	width: 100%;
}

h2 {
	text-shadow: 2px 2px 2px rgb(13, 53, 13);
}

footer {
	text-align: center;
	text-shadow: 2px 2px 2px rgba(60, 255, 0, 0.315);
	background: rgba(1, 255, 1, 0.253);
}
